.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}
